body {
    width: 40%;

    padding-top: 10%;
    margin: auto;

    text-align: center;
}

label {
    font-weight: bold;
}

.input {
    width: 60%;

    margin: auto;
    margin-top: 10%;
    padding: 10px;

    display: grid;
    grid-template:  1fr 1fr 1fr / 1fr 1fr;
    align-items: end;
    
    text-align: right;
    border: 1px black solid;
}

.input * {
    margin: 5px;
}

#download {
    grid-column-start: 2;
    grid-column-end: 3;
}

#output_msg {
    color: red;
}

@media (max-width: 900px) {
    body {
        width: 80%;
    }
    .input {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .input {
        grid-template:  1fr 1fr 1fr 1fr 1fr / 1fr;

        text-align: left;
    }
    #download {
        grid-column: auto;
    }
}
